@font-face {
    font-family: myFirstFont;
    src: url(fonts/static/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/static/JosefinSans-Bold.ttf);
    font-weight: bold;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(252, 212, 212);
}

* {
    font-family: myFirstFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container>div {
    text-align: center;
}

.container {
    margin: 1%;
    position: relative;
    /* background-color: pink; */
    padding: 1%;
    display: flexbox;
}

.container>form>div>div {
    margin: auto;
    left: 0;
    right: 0;
}

.sub_container {
    position: relative;
    display: flexbox;
    /* background-color: rgba(139, 84, 139, 0.726); */
    padding: 1%;
    margin: 1%;
}

.sub_container:nth-child(1)>.row {
    display: flex;
    /* background-color: aqua; */
    padding: 1%;
    width: 50%;
    justify-content: center;
}

.sub_container>h2 {
    display: flex;
    width: 50%;
    justify-content: start;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 1%;
    font-size: 24pt;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

input[type=text],
input[type=number],
input[type=date],
input[type=radio] {
    margin-top: 1%;
    padding: 1%;
    border-radius: 8px;
    border: 0;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 30px;
    font-size: 12pt;
    outline: none;
}

textarea {
    padding: 1%;
    border-radius: 8px;
    border: 0;
    background-color: rgba(245, 245, 245, 0.6);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    outline: none;
    font-size: 12pt;
    resize: none;
}

.sub_container:nth-child(1)>.row>.col input[type=text],
.sub_container:nth-child(1)>.row>.col input[type=number] {
    margin-top: 1%;
    width: 96%;
}

.sub_container:nth-child(1)>.row>.col input[type=date] {
    margin-top: 1%;
    width: 97%;
}

.sub_container:nth-child(1)>.row>.col:only-child input[type=text] {
    margin-top: 1%;
    width: 99%;
}

.sub_container:nth-child(1)>.row>.col {
    width: 50%;
}

.sub_container:nth-child(1)>.row>.col:only-child {
    width: 100%;
}

.sub_container:nth-child(1)>.row>.col:nth-child(1) {
    position: relative;
    /* background-color: yellow; */
    margin-right: 1%;
}

.sub_container:nth-child(1)>.row>.col:nth-child(2) {
    position: relative;
    /* background-color: aquamarine; */
    margin-left: 1%;
}

.sub_container:nth-child(1) h3 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
    color: rgb(243, 44, 44);
}

.sub_container:nth-child(3) h4 {
    font-size: 13pt;
    font-weight: bold;
    margin: 0;
    color: rgb(243, 44, 44);
}

.row {
    display: block;
}

.col {
    display: inline-block;
}

.sub_container:nth-child(3)>.row {
    display: flex;
    /* background-color: aqua; */
    padding: 1%;
    width: 50%;
    justify-content: start;
}

.sub_container:nth-child(3)>.row>.col>div>.row>.col {
    width: 32%;
    /* background-color: yellowgreen; */
}

.sub_container:nth-child(3)>.row:nth-child(8) {
    display: flex;
    /* background-color: aqua; */
    padding: 1%;
    width: 50%;
    justify-content: center;
}

.sub_container:nth-child(3)>.row>.col {
    width: 100%;
}

.sub_container:nth-child(3)>.row>.col textarea {
    width: 100%;
}

hr {
    width: 50%;
}

.sub_container:nth-child(4)>div {
    display: flex;
    /* background-color: aqua; */
    padding: 1%;
    width: 50%;
    justify-content: center;
}

.sub_container:nth-child(4)>div>input {
    height: 50px;
    min-width: 300px;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 5px;
    color: rgba(243, 44, 44, 1);
    background-color: rgb(255, 255, 255);
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    outline: none;
}

.sub_container:nth-child(4)>div>input:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}